/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2015, 04:02:21 PM
    Author     : t41841
*/

.container{
    margin-top: 20px;
}

#campos{
    margin: 0 auto;
}

/*#dimensiones{
    height: auto;
}*/

#divDimensiones div{
    margin: 0 auto;    
    /*margin-right: 15px;*/
}